@import "utils/reset";
@import "utils/variables";
@import "utils/mixins";
@import "utils/keyframes";
@import "base/fonts";

* {
    box-sizing: border-box;
}

body {
    margin: auto;

    img {
        width: 100%;
    }
}

/************************HEADER**************************/
.menu_header {
    .menu_logo {
        display: flex;
        justify-content: center;
        padding: 1rem 1rem 0.5rem 1rem;

        a {
            color: #000;
            font-size: 1.2rem;
            padding-top: .2rem;
        }

        img {
            margin: auto;
            padding-bottom: .4rem;
            width: 48%;
        }
    }
}

/*****************RESTAURANT PHOTO******************/

.restaurant_img {
    img {
        object-fit: cover;
        min-height: 330px;
        width: 100%;
        position: absolute;
    }
}

/***************RESTAURANT MENU********************/

.restaurant_menu {
    background-color: $colour-grey-dark;
    border-radius: 1.8rem 1.8rem 0 0;
    padding: 1.8rem 1rem 3.8rem 1rem;
    width: 100%;
    z-index: 2;
    position: relative;
    top: 220px;

    .restaurant_heading {
        display: flex;
        position: relative;

        h1 {
            font-family: $font-heading;
            font-size: 1.8rem;
            font-weight: 500;
            margin-right: auto;
        }

        i {
            position: absolute;
            right: 1.4%;
            top: 11%;
            opacity: 1;
            font-size: 30px;
            color: #000;


            &:hover:after {
                font-family: 'Material Icons';
                content: "\e87d";
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient($colour-primary, $colour-secondary);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: heart 600ms ease-out forwards;
            }
        }
    }

    /*******************MENU**************/

    .menu_part {
        width: 100%;

        h2 {
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 2.5rem;
        }

        hr {
            @include hr-green;

        }

        /**price font-size**/
        p {
            font-size: .9rem;
            font-weight: 900;
        }

    }

    /*****MENU PAGE OPENING ANIMATION*****/
    .starters {
        .menu_item {
            overflow: hidden;
            opacity: 0;

            &:nth-child(3) {
                animation: opening 200ms ease forwards;
            }

            &:nth-child(4) {
                animation: opening 200ms ease 150ms forwards;
            }

            &:nth-child(5) {
                animation: opening 200ms ease 300ms forwards;
            }

            &:nth-child(6) {
                animation: opening 200ms ease 450ms forwards;
            }

        }
    }

    .main {
        .menu_item {
            overflow: hidden;
            opacity: 0;

            &:nth-child(3) {
                animation: opening 200ms ease 600ms forwards;
            }

            &:nth-child(4) {
                animation: opening 200ms ease 750ms forwards;
            }

            &:nth-child(5) {
                animation: opening 200ms ease 900ms forwards;
            }
        }
    }

    .desserts {
        .menu_item {
            overflow: hidden;
            opacity: 0;

            &:nth-child(3) {
                animation: opening 200ms ease 1050ms forwards;
            }

            &:nth-child(4) {
                animation: opening 200ms ease 1200ms forwards;
            }

            &:nth-child(5) {
                animation: opening 200ms ease 1350ms forwards;
            }
        }
    }

    /****************DISHES*****************/

    .menu_item {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        background-color: #fff;
        margin: 1rem 0;
        border-radius: .8rem;
        padding-left: .8rem;
        box-shadow: .3rem .2rem .5rem rgb(212, 211, 211);
        overflow: hidden;
        cursor: pointer;

        /*****Dish select hover animation*****/
        &:hover .price_check .icon_check {
            transition-duration: 550ms;
            width: 3.5rem;
        }

        &:hover .price_check .icon_check i {
            transition-duration: 550ms;
            transition-delay: 150ms;
            transform: rotate(0deg);
        }



        .menu_text {
            @include text_ellipsis;

            h3 {
                @include text_ellipsis;
                font-size: 1.1rem;
                font-weight: 500;
                padding: .8rem 0 .4rem 0;
            }

            p {
                @include text_ellipsis;
                padding-bottom: .6rem;
                font-size: 1rem;
                font-weight: 300;
            }

        }

        .price_check {
            display: flex;
            margin-left: .5rem;

            .menu_item_price {
                padding: 2.5rem .8rem 0 0;
                font-weight: 500;
            }

            .icon_check {
                display: grid;
                align-items: center;
                justify-items: center;
                width: 0;
                background-color: #99e2d0;
                border-radius: 0 .6rem .6rem 0;

                i {
                    color: #fff;
                    font-size: 1.2rem;
                    transform: rotate(180deg);
                }
            }
        }
    }
}


.order_btn {
    text-align: center;
    margin-top: 2.8rem;

    .button {
        @include btn-purple;
        width: 55%;
        font-size: 1rem;
    }
}

/*****FOOTER*****/

@import "layouts/footer";

.footer {
    position: relative;
    z-index: 2;
    top: 220px;
}

/*****************BREAKPOINTS****************/
@media only screen and (max-width: 375px) {
    .restaurant_menu {
        .restaurant_heading {

            h1 {
                font-size: 1.5em;
                font-weight: 400;
            }

            i {
                font-size: 26px;
            }
        }

        .menu_item {
            .menu_text {

                h3 {
                    font-size: 1.1rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

/*****TABLETS*****/
@media only screen and (min-width: 768px) {
    html {
        font-size: 1rem;

        img {
            width: 100%;
        }

    }

    .restaurant_menu {
        top: 300px;
    }

    .restaurant_img img {
        height: 18rem;
        width: 100%;
    }

    .restaurant_menu {
        .menu_part {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            h2 {
                width: 100%;
            }

            hr {
                height: 0;
                width: 2.5rem;
                margin-right: 95%;
            }
        }

        .menu_item {
            width: 45%;
            margin: .3rem;
        }

    }

    .footer {
        top: 300px;
    }
}

/******************DESKTOP**************/
@media only screen and (min-width: 1024px) {
    body {
        max-width: 1440px;

        img {
            width: 100%;
            max-width: 1440px;
        }
    }

    h1,
    h2 {
        font-size: 1.4rem;
    }

    .restaurant_menu {
        .menu_part {
            hr {
                width: 8rem;
                margin: 0.5% 96% 2% 0;
            }
        }
    }
}

/****************END************************/