@import "utils/reset";
@import "utils/variables";
@import "utils/mixins";
@import "utils/keyframes";
@import "base/fonts";

* {
    box-sizing: border-box;
}

body {
    margin: auto;

    img {
        width: 100%;
    }
}

/*****HEADER*****/
.menu_header {
    .menu_logo {
        display: flex;
        justify-content: center;
        padding: 1rem 1rem 0.5rem 1rem;

        a {
            color: #000;
            font-size: 1.1rem;
            padding-top: .2rem;
        }

        img {
            margin: auto;
            width: 45%;
        }
    }
}

.restaurant_img {
    img {
        object-fit: cover;
        min-height: 100px;
        width: 100%;
        z-index: 1;
        position: absolute;
    }
}

.restaurant_menu {
    background-color: $colour-grey-dark;
    border-radius: 1.8rem 1.8rem 0 0;
    padding: 1.4rem 1rem 3rem 1rem;
    width: 100%;
    z-index: 2;
    position: relative;
    top: 180px;



    .restaurant_heading {
        display: flex;
        position: relative;

        i:last-of-type {
            position: absolute;
            top: 21%;
            right: 1.6%;
            opacity: 0;
            transform: scale(.7);
            transition: all 350ms linear;

            &:hover {
                opacity: 1;
                transform: scale(1.7);
                color: $colour-primary;
            }
        }
    }

    h1 {
        font-family: $font-heading;
        font-size: 1.3rem;
        font-weight: 500;
        margin-right: auto;
    }

    i.empty_heart {
        position: absolute;
        right: 1.4%;
        top: 12%;
        opacity: 1;
        font-size: 1.2rem;
        color: #000;
    }

    .menu_part {
        width: 100%;



        h2 {
            text-transform: uppercase;
            font-size: .9rem;
            font-weight: 400;
            margin-top: 1.5rem;
        }

        hr {
            @include hr-green;

        }

        p {
            font-size: .7rem;
            font-weight: 900;
        }

    }

    .starters {
        overflow: hidden;
        opacity: 0;
        transition: all;
        animation: opening .4s linear forwards;
    }

    .main {
        overflow: hidden;
        opacity: 0;
        transition: all;
        animation: opening .4s linear .2s forwards;
    }

    .desserts {
        overflow: hidden;
        opacity: 0;
        transition: all;
        animation: opening .4s linear .4s forwards;
    }

    .menu_item {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        margin: .7rem 0;
        border-radius: .6rem;
        padding: .5rem;
        box-shadow: .3rem .2rem .5rem rgb(212, 211, 211);


        .menu_text {
            @include text_ellipsis;

            h3 {
                @include text_ellipsis;
                font-size: .9rem;
                font-weight: 500;
                padding: .1rem 0;
            }

            p {
                @include text_ellipsis;
                font-size: .7rem;
                font-weight: 300;
            }
        }

        .menu_item_price {
            padding: 1.2rem 0 0 0;
            font-weight: 400
        }
    }

    .order_btn {
        text-align: center;
        margin-top: 2.3rem;

        .button {
            @include btn-purple;
            width: 55%;
            font-size: .8rem;
        }
    }


}




/*****FOOTER*****/

@import "layouts/footer";

.footer {
    position: relative;
    z-index: 2;
    top: 180px;
}

/*****BREAKPOINTS***/
/*****TABLETS*****/

@media only screen and (min-width: 768px) {
    html {
        font-size: 1.1rem;

        img {
            width: 100%;
        }
    }

    .restaurant_menu {
        top: 300px;
    }

    .restaurant_img img {
        height: 18rem;
        width: 100%;
    }

    .restaurant_menu {
        .menu_part {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            h2 {
                width: 100%;
            }

            hr {
                height: 0;
                width: 2.5rem;
                margin-right: 94%;
            }
        }

        .menu_item {
            min-width: 46%;
            margin: .3rem;
        }

    }

    .footer {
        top: 300px;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        max-width: 1440px;

        img {
            width: 100%;
            max-width: 1440px;
        }
    }

    h1,
    h2 {
        font-size: 1.4rem;
    }

    .restaurant_menu {
        .menu_part {
            hr {
                width: 3rem;
                margin: 0.5% 95% 2% 0;
            }
        }
    }

}