/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@-webkit-keyframes opening {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes opening {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes backgd {
  0% {
    opacity: 1;
  }
  88% {
    border-radius: 0%;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes backgd {
  0% {
    opacity: 1;
  }
  88% {
    border-radius: 0%;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  30% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  30% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.heading {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
}

body img {
  width: 100%;
}

/*****HEADER*****/
.menu_header .menu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1rem 0.5rem 1rem;
}

.menu_header .menu_logo a {
  color: #000;
  font-size: 1.1rem;
  padding-top: .2rem;
}

.menu_header .menu_logo img {
  margin: auto;
  width: 45%;
}

.restaurant_img img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100px;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.restaurant_menu {
  background-color: #f0ecec;
  border-radius: 1.8rem 1.8rem 0 0;
  padding: 1.4rem 1rem 3rem 1rem;
  width: 100%;
  z-index: 2;
  position: relative;
  top: 180px;
}

.restaurant_menu .restaurant_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.restaurant_menu .restaurant_heading i:last-of-type {
  position: absolute;
  top: 21%;
  right: 1.6%;
  opacity: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: all 350ms linear;
  transition: all 350ms linear;
}

.restaurant_menu .restaurant_heading i:last-of-type:hover {
  opacity: 1;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  color: #9356dc;
}

.restaurant_menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: auto;
}

.restaurant_menu i.empty_heart {
  position: absolute;
  right: 1.4%;
  top: 12%;
  opacity: 1;
  font-size: 1.2rem;
  color: #000;
}

.restaurant_menu .menu_part {
  width: 100%;
}

.restaurant_menu .menu_part h2 {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 400;
  margin-top: 1.5rem;
}

.restaurant_menu .menu_part hr {
  width: 2rem;
  color: #065e06;
  border-style: inset;
  border: 1px solid #99e2d0;
  margin: .2rem 0;
}

.restaurant_menu .menu_part p {
  font-size: .7rem;
  font-weight: 900;
}

.restaurant_menu .starters {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all;
  transition: all;
  -webkit-animation: opening .4s linear forwards;
          animation: opening .4s linear forwards;
}

.restaurant_menu .main {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all;
  transition: all;
  -webkit-animation: opening .4s linear .2s forwards;
          animation: opening .4s linear .2s forwards;
}

.restaurant_menu .desserts {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all;
  transition: all;
  -webkit-animation: opening .4s linear .4s forwards;
          animation: opening .4s linear .4s forwards;
}

.restaurant_menu .menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  margin: .7rem 0;
  border-radius: .6rem;
  padding: .5rem;
  -webkit-box-shadow: 0.3rem 0.2rem 0.5rem #d4d3d3;
          box-shadow: 0.3rem 0.2rem 0.5rem #d4d3d3;
}

.restaurant_menu .menu_item .menu_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.restaurant_menu .menu_item .menu_text h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: .9rem;
  font-weight: 500;
  padding: .1rem 0;
}

.restaurant_menu .menu_item .menu_text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: .7rem;
  font-weight: 300;
}

.restaurant_menu .menu_item .menu_item_price {
  padding: 1.2rem 0 0 0;
  font-weight: 400;
}

.restaurant_menu .order_btn {
  text-align: center;
  margin-top: 2.3rem;
}

.restaurant_menu .order_btn .button {
  width: 65%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  font-size: .7rem;
  font-weight: 600;
  color: #fff;
  padding: .8rem 0rem;
  margin: auto;
  border-radius: 1.7rem;
  border: none;
  -webkit-box-shadow: 0.2rem 0.3rem 0.8rem #bebdbd;
          box-shadow: 0.2rem 0.3rem 0.8rem #bebdbd;
  width: 55%;
  font-size: .8rem;
}

.restaurant_menu .order_btn .button:hover {
  opacity: .8;
  -webkit-box-shadow: 0.4rem 0.5rem 0.8rem #a3a2a2;
          box-shadow: 0.4rem 0.5rem 0.8rem #a3a2a2;
}

/*****FOOTER*****/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1rem 1.5rem;
  background-color: #353434;
}

.footer :nth-child(3) i {
  font-size: 0.6rem;
  margin-right: 0.4rem;
}

.footer h2 {
  color: #fff;
  background-color: #353434;
  text-decoration: none;
  padding-bottom: 0.4rem;
}

.footer a {
  color: #fff;
  background-color: #353434;
  text-decoration: none;
  font-size: .8rem;
  margin-right: auto;
  padding: 0.2rem;
}

.footer i {
  font-size: .9rem;
  margin-right: 0.4rem;
}

.footer {
  position: relative;
  z-index: 2;
  top: 180px;
}

/*****BREAKPOINTS***/
/*****TABLETS*****/
@media only screen and (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
  html img {
    width: 100%;
  }
  .restaurant_menu {
    top: 300px;
  }
  .restaurant_img img {
    height: 18rem;
    width: 100%;
  }
  .restaurant_menu .menu_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurant_menu .menu_part h2 {
    width: 100%;
  }
  .restaurant_menu .menu_part hr {
    height: 0;
    width: 2.5rem;
    margin-right: 94%;
  }
  .restaurant_menu .menu_item {
    min-width: 46%;
    margin: .3rem;
  }
  .footer {
    top: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: 1440px;
  }
  body img {
    width: 100%;
    max-width: 1440px;
  }
  h1,
  h2 {
    font-size: 1.4rem;
  }
  .restaurant_menu .menu_part hr {
    width: 3rem;
    margin: 0.5% 95% 2% 0;
  }
}
/*# sourceMappingURL=menu.css.map */