@import "utils/reset";
@import "utils/variables";
@import "utils/mixins";
@import "utils/keyframes";
@import "base/fonts";

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1440px;
}


/*****HEADER*****/

.homepage {
  .logo {
    display: flex;
    padding: 1rem 1rem 0.5rem 1rem;

    img {
      margin: auto;
      width: 50%;
    }
  }
}

/*****OHMYFOOD INTRODUCTION*****/


.introduction {
  display: flex;
  flex-direction: column;
  background-color: $colour-grey;

  .introduction_location {
    display: flex;
    justify-content: center;
    background-color: $colour-grey-dark;
    box-shadow: 0 0.2rem 0.2rem rgb(187, 185, 185) inset;
    padding: 1rem 0;
    margin-bottom: 2.5rem;

    i {
      padding: 0rem 1rem 0 0;
      margin-left: auto;
    }

    p {
      font-size: 1rem;
      padding-left: 0.2rem;
      text-align: center;
      margin-right: auto;
    }
  }

  .introduction_title {
    @include introduction_formating(0.8rem);

    h1 {
      margin: auto;
      font-size: 1.5rem;
    }
  }

  .introduction_text {
    @include introduction_formating(1.9rem);

    p {
      font-size: 1.1rem;
      font-weight: 400;
      margin: auto;
      color: rgb(95, 93, 93);
    }
  }

  .introduction_btn {
    @include introduction_formating(3.7rem);

    .btn {
      @include btn-purple;
    }
  }
}

/*****APP FUNCTIONS*****/
.functions {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 3rem 0 1rem 1.5rem;
  }
}

.functions_instructions {
  display: flex;
  flex-direction: column;


  .btn_instructions {
    @include function_btn_instructions;
    position: relative;
    font-size: 1rem;

    &:hover {
      background-color: rgba(176, 79, 221, 0.151);
      box-shadow: 0.2rem 0.3rem 0.6rem rgb(163, 162, 162);

      .btn_instructions_number {
        color: #fff;
      }

      i {
        color: $colour-primary;
      }
    }

    i {
      color: rgb(126, 125, 125);
      font-size: 1.3rem;

    }

    .mobile-icon {
      font-size: 1.5rem;
      padding: 0 1rem;
    }

    .btn_instructions_number {
      position: absolute;
      top: 30%;
      left: -2%;
      color: #fff;
      padding: 0.4rem 0.6rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      font-size: 0.7rem;
      background-color: $colour-primary;
    }
  }
}

/*****RESTAURANTS CHOICE*****/
.restaurants {
  background-color: $colour-grey;
  padding-bottom: 3.5rem;

  h2 {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 3rem 0 1rem 1.5rem;
  }

  .restaurants_select {
    display: flex;
    flex-direction: column;

    a {
      width: 90%;
      margin: .6rem auto;
      box-shadow: 0.2rem 0.2rem 1rem rgb(212, 211, 211);
      border-radius: 1.1rem;
      text-decoration: none;

      img {
        object-fit: cover;
        border-radius: 1.1rem 1.1rem 0 0;
        width: 100%;
        max-height: 11rem;
      }

      .restaurants_card {
        position: relative;

      }

      .restaurants_card_new {
        position: absolute;
        top: 5%;
        right: 5%;
        background-color: $colour-tertiary;
        color: rgb(79, 119, 72);
        font-family: $font-primary;
        font-size: .9rem;
        font-weight: 500;
        padding: .4rem .7rem;

      }

      .restaurant_card_text {
        position: relative;
        min-height: 20rem;
      }

      h3 {
        color: #000;
        font-family: $font-primary;
        font-weight: 600;
        padding: .6rem 0 0 .8rem;


      }

      p {
        color: #000;
        padding: .2rem 0 .8rem .8rem;
        font-family: $font-primary;
        font-weight: 300;
      }
    }

    i {
      position: absolute;
      right: 5%;
      bottom: 12%;
      font-size: 1.4rem;
      color: #000;
    }

    i.full_heart {
      opacity: 0;
      transform: scale(1);
      transition: all 300ms ease-in-out;

      &:hover {
        opacity: 1;
        transform: scale(1.5);
        border: none;
        color: $colour-primary;
      }
    }
  }
}





/*****FOOTER*****/
@import "layouts/footer";


/*****BREAKPOINTS*****/
/*****MINI-PHONES*****/
@media only screen and (max-width: 340px) {
  html {
    font-size: .8rem;

    .footer i {
      font-size: 1.2rem;
    }
  }
}

/*****TABLETS*****/
@media only screen and (min-width: 768px) {


  .functions_instructions {
    flex-direction: row;
    flex-wrap: wrap;


    .btn_instructions {
      width: 40%;
    }
  }


  .restaurants {
    .restaurants_select {
      flex-direction: row;
      flex-wrap: wrap;

      a {
        width: 45%;
      }
    }
  }
}

/*****DESKTOP*****/
@media only screen and (min-width: 1024px) {

  h1,
  h2,
  h3,
  p {
    font-size: 1.2rem;
  }

  .introduction {
    .introduction_location p {
      font-size: 1rem;
    }
  }

  .functions_instructions {
    .btn_instructions {
      width: 35%;
      font-size: .8rem;
    }
  }
}