@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.heading {
  font-family: "Shrikhand", cursive;
}
