@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

$font-primary: "Roboto",
sans-serif;

$font-heading: "Shrikhand",
cursive;


h1 {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 1.8rem;
}

h2 {
  font-family: $font-primary;
  font-weight: 100;
  font-size: 1.2rem;
}

h3 {
  font-family: $font-primary;
  font-size: 1.1rem;
}

p {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 400;
}

.heading {
  font-family: $font-heading;
  font-weight: 500;
  font-size: 1rem;
}

/* Rules for icon sizes: */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}