@mixin footer_links {
  color: $colour-footer-links;
  background-color: $colour-footer-background;
  text-decoration: none;
}
@mixin introduction_formating($size: 1rem) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $size;
}
@mixin function_btn_instructions {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
  padding: 1.6rem 1.6rem 1.6rem 0;
  width: 85%;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 0.2rem 0.2rem 0.6rem rgb(212, 211, 211);
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 530;
}
