$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-grey: #f8f6f6;
$colour-grey-dark: rgb(240, 236, 236);
$colour-footer-background: rgb(10, 10, 10);
$colour-footer-links: #fff;