//Menu page animation

@keyframes opening {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }

    85% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }

}

//Spin loader

@keyframes backgd {
    0% {
        opacity: 1;
    }

    88% {
        border-radius: 0%;
    }

    90% {
        transform: scale(1);
        opacity: 1;
        border-radius: 50%;
    }

    100% {
        transform: scale(0);
        opacity: 0;

    }
}

@keyframes spin {
    0% {
        transform: scale(0.2);
    }

    30% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg);
    }
}

//Heart animation 

@keyframes heart {
    0% {
        opacity: .3;
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}