.footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #000;
  :nth-child(3) i {
    font-size: 0.5rem;
  }
  h2 {
    @include footer_links;
    padding-bottom: 0.5rem;
  }
  a {
    @include footer_links;
    margin-right: auto;
    padding: 0.2rem;
  }
  i {
    padding-right: 0.3rem;
  }
}
