.footer {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1rem 1.9rem;
  background-color: $colour-footer-background;

  //handshake icon
  :nth-child(3) i {
    font-size: 0.7rem;
    margin-right: 0.4rem;
  }

  h2 {
    @include footer_links;
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
  }

  a {
    @include footer_links;
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: 600;
    margin-right: auto;
    padding: 0.2rem;
  }

  i {
    font-size: 1rem;
    margin-right: 0.4rem;
  }
}